

@media(max-width:360px)
{
  .login-box{
    margin-left:13px;
  }
}
@media(max-width:320px;)
{
  .login-box {
   margin-left: 1px;
 }
}
@media(max-width:412px)
{
  .login-box{
    margin-left:35px;
  }
}
@media only screen and (max-width: 600px){

	#login-card{
		margin:5%;
        margin-left: 400px;
	}
}

@media(min-width:760px){
    .row{
      margin-left: -10px;
    margin-top: 40px;
    }
    .row ul li{
    margin-left:50px;
    display: table-cell;
}
}
@media(min-width:1200px){
    .row ul li{
    margin-left:120px;
    display: table-cell;
}
}
/*nav{
    background-color: #D8D1C7 !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 50) !important;
    height: 130px;
}*/
.nav-brand{
    opacity: 100;
    text-align: left;
    color: #3B5372;
    font-family: Ionicons;
    line-height: 0px;
    font-size: 20px;
    font-weight:bold;
    letter-spacing: 0px;
}
.row ul li a{
    width: 100px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #3B5372 !important;
    font-family: LucidaGrande-Bold;
    font-weight:bold;
    line-height: 0px;
    font-size: 16px;
    letter-spacing: 0px;
}
.date{
    color: #3B5372 !important;
    font-family: Applegothic;

    font-size: 16px;
    letter-spacing: 0px;
}
#name{
    color: #3B5372 !important;
    font-family: Applegothic;

    font-size: 16px;
    letter-spacing: 0px;
}
#block{
    width: 255px;
    height: 73px;
    opacity: 100;
    padding-left: 12px;

}
.mail{
    width: 187px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #D8D1C7;
    font-family: AppleGothic;
    line-height: 0px;
    font-size: 15px;
    padding:13px 51px 15px 17px;
}
.logout{
    width: 54px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #D8D1C7;
    font-family: Ionicons;
    line-height: 0px;
    font-size: 15px;
    letter-spacing: 0px;
    padding-left:65%;
    float: left;
}
.logout:hover{
    color: #D8D1C7;
    text-decoration: none;
}


/*card content*/




.navbar {
    position: relative;
    /*min-height: 1000px;*/
    /*margin-bottom: 20px;*/
    border: 1px solid;
}
#nav-content li.active>a:hover{
 background-color: #D8D1C7 ;
 border:none;
}
