<div class="AR">
    <h6 class="Attendance-Report">Attendance Report</h6>
    <div><span class="num">30/70</span>&nbsp<span class="Internship">Internship</span></div>
</div>
<div class="card" id="attacard">
    <div id="main" class="col-md-6 col-lg-4 col-xs-12" ng-repeat="value in CompanyList track by $index">
        <div class="cmp"><input type="checkbox" ng-model="value.selected" ng-checked="allCompany" ng-change="toggleAll($index)">
            <span class="span">{{value.company}}</span>
        </div>
        <div id="main1" style="overflow: hidden;height:50%;">
            <table class="scroll">
                <tr ng-repeat="x in value.employeeList">
                    <td width="15%"><input type="checkbox" ng-model="x.selected" ng-checked="allCompany" ng-change="enableCheckBoxes($index)" />&nbsp &nbsp&nbsp{{x.employeeName}}
                    </td>
                    <td class="Leave" align=bottom; width="20%" ng-style="{color:(x.employeeLeave >2 ?'red':'green')}">{{x.employeeLeave + "Leaves"}}</td>
                </tr>
            </table>
        </div>
    </div>
    </form>
</div>
<br><br>
<!--  -->

<a ng-class="{'anchor':!clickable}" ng-disabled="clickable" ui-sref="home.next"><img class="next1" id="attid"src="images/next.png" />
</a>
<h6 class="next" id="attid">Next</h6>
<div class="Select-All" style="margin-top:-30px;margin-left:10%;">
  <input type="checkbox" ng-model="allCompany" ng-click="checkAll()">Select All</div>
