<div class="container">
    <div class="row cards">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="sidebar">
                <div class="C-header">
                    <span>  <h3 class="text">Attendance summary</h3></span>

                    <a href=""><span><img class="toc" ng-src="images/summary.png"><span>
                    </a>
                    <div class="bottom-align-text">
                        <span class="ddd">{{ previous | date : "dd,MMMM y" }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="sidebar">
                <div class="header">
                    <span>  <h3 class="text">Attendance Fallout</h3></span>

                    <a href=""><span><img class="toc" ng-src="images/summary.png"></img></span>
                    </a>
                    <div class="bottom-align-text">
                        <span class="date2">{{ previous | date : "dd,MMMM y" }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="sidebar">
                <div class="header">
                    <span>  <h3 class="text">Leave summary</h3></span>

                    <a href=""><span><img class="toc" ng-src="images/summary.png"></img></span>
                    </a>
                    <div class="bottom-align-text">
                        <span class="date2">{{ previous | date : "dd,MMMM y" }}</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="sidebar">
                <div class="header">
                    <a href=""><img class="toc1" ng-src="images/summary.png"></img>
                    </a>
                    <h3 class="text1">Engineers</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="sidebar">
                <div class="header">
                    <a href=""><img class="toc1" ng-src="images/summary.png"></img>
                    </a>
                    <h3 class="text1">Clients</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="sidebar">
                <div class="header">
                    <a ui-sref="home.report"><img class="toc1" ng-src="images/summary.png"></img>
                    </a>
                    <h3 class="text1">Reports</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ui-view></div>
