<h6 class="Attendance-Report">Invoice Report</h6>
  <div><span class="num">30/70</span>&nbsp<span class="Internship">Internship</span></div>


  <div class="card">
      <form id="selectionForm">
        <!-- <div scroll> -->
          <div id="main"  class="col-md-6 col-lg-4 col-xs-12" ng-repeat="value in CompanyList track by $index">
              <div class="cmp"><input type="checkbox" ng-model="value.selected" ng-checked="allCompany" ng-change="toggleAll($index)">
                  <span class="span">{{value.Company}}</span></div>
                  <div>
                      <table>
                          <tr ng-repeat="x in value.EmplList">
                              <td width="15%"><input type="checkbox" ng-model="x.selected"  ng-checked="allCompany" ng-change="optionToggled(value)" >&nbsp<span class="employee">{{x.name}}{{emp[index]}}</span>
                              </td>
                              &nbsp
                              <td  align=bottom; width="20%">{{x.L_status}}</td>
                          </tr>
                      </table>
                  </div>
            <!-- </div> -->
      </form>
      </div>
      </form>
  </div>
  <br><br>
  <div class="Select-All"><input type="checkbox" ng-model="allCompany">Select All</div><br/>
   <a href="#"><img class="next1" src="images/next.png"></img><h6 class="next">Next</h6></a>
   <!-- for zip files template -->
  <div ui-view></div>
