<div ng-controller="invoceCtrl">
    <h6 class="repheader" id="invoicolor">Invoice-Report</h6>
    <div class="file">
      <p class="click">Clicking on the generate button will generate the zip files with company names that includes indidual attendance report in PDF format</p>
        <div><a><button class="Generate" ng-click="go()"id="Attzipgen">
          <span class="note" >Generate</span>
        </button></a></div>
        <a ><img class="image" id="downimg"ng-src="{{image}}" /></a>
          <div id="invcolor"class="Clicking-on-the-gene" ng-bind="Message"></div>
          <div id="invcolor" class="Clicking-on-the-gene" ng-bind="Message1"></div>
          <div  id="invcolor"class="Clicking-on-the-gene" ng-bind="Message2"></div>
          <div id="invcolor" class="Clicking-on-the-gene" ng-bind="Message3"></div>
          <div id="invcolor" class="Clicking-on-the-gene" ng-bind="Message4"></div>

    </div>

</div>
<a ui-sref="home.invoiceReport">
    <img class="pr1" src="images/previous.png" /></a>
    <h6 class="Pr2">Previous</h6>

</div>
