<div ng-controller="invoceCtrl">
    <h6>Invoice-Report</h6>
    <p class="click">Clicking on the below icon,invoice reports will be downloaded in .xls format</p>
  <a href=""><img class="invdownload" src="images/download.png"></img></a>
    <div class="file">
        <table class="movefiles" style="width:100%">
            <tr ng-repeat="value in Invoicedata">
                <td align=bottom; width="20%"><h6 class="files">{{value.filename}}</h6></td>
            </tr>
        </table>
    </div>

    <a ui-sref="home.invoiceReport">
        <img class="pr1" src="images/previous.png">
            </img></a>

      <a ui-sref="home.invoiceReport"> <h6 class="Pr2">Previous</h6></a>

</div>
