<div class="container" id="loginConatainer">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-8  col-md-offset-4 col-sm-offset-3  ">
            <div class="card" id="login-card">
                <div class="login-box" id="loginid">
                    <img src="images/logo.png" />
                    <div class="login">
                        <div>Login</div>
                        <form name="Form" method="post" ng-submit="login()">
                            <md-input-container class="md-block" id="input1">
                                <label>Email</label>
                                <input type="text" name="email" ng-model="user.emailId" ng-pattern="emailre" required md-no-asterisk />

                            </md-input-container>
                            <md-input-container class="md-block" id="input2">
                                <label>Password</label>
                                <input type="password" name="password" ng-model="user.password" ng-pattern="passre" required md-no-asterisk />
                            </md-input-container>
                            <button ng-disabled="!Form.$valid ||loginLoading" type="submit" class="md-raised"id="loginbutton"> Login </button>
                            <span class="loader">
                             <img ng-if="loginLoading" src="images/loader.gif" width="25px" height="25px" />
                             </span>
                            <span ng-show="Form.email.$error.pattern" id="colorerror"><center><b>Invalid Email id.</h6></center></span>
                            <span ng-show="Form.password.$error.pattern" id="colorerror"><center><b>Invalid Password</h6></center></span>


                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
