<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
      </button>
            <div class="nav-brand">
                <img src="images/logo.png" class="logo"></img>
                <span style="color:#3B5372;"><strong>FundooHR</strong> </span>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-time"></span>{{ today | date : "dd,MMMM y" }}
       </a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="name">
                        <span class="glyphicon glyphicon-user">{{name}}</span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="block">
                        <li class="mail">{{email}}</li>
                        <li ng-if="isAuth()">
                        <div class="logout"><a ui-sref="logout"><span class="glyphicon">&#xe017;</span>&nbsp&nbspLogout</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="row">

  <ul class="nav navbar-nav "id="nav-content">
                                  <li ng-class="{'active':(nav==='dashboard')}"><a ui-sref="home.dashboard" ng-click="nav='dashboard'" >DashBoards</a></li>
                                  <li><a>Engineer</a></li>
                                  <li ng-class="{'active':(nav==='attendence')}"><a ng-click="nav='attendence'" ui-sref="home.Attendence">Attendence</a></li>
                                  <li><a>Clients</a></li>
                                 <li ng-class="{'active':(nav==='repo')}"><a ui-sref="home.report"ng-click="nav='repo'">Report</a></li>
                              </ul>
                          </div>
                      </div>

                      <!-- /.navbar-collapse -->
                  </div>
                  <!-- /.container-fluid -->
              </nav>
              <ui-view></ui-view>
