<div>
<h6 class="Attendance-Report1">Attendance-Report</h6>
<div class="gene">Clicking on the generate button will generate the .zip files with company names, that includes the individual attendance report in PDF format.</p></div>
    <div><a><button class="Generate" ng-click="go()"id="Attzipgen"><span class="note" >Generate</span></button></a></div>
    <a href="#"><img class="image" id="downimg"ng-src="{{image}}" /></a>
    &nbsp
    <div class="Clicking-on-the-gene" ng-bind="Message"></div>
    <a class="link" ui-sref="home.attReport">
        <!-- <div><span class="Prclass"><h6 class="prid">Previous</h6></span> -->
        <span><img class="primage" src="images/previous.png" /></span></div></a>
</div>
