<div>
    <h6 class="Attendance-Report">Attendance-Report</h6>
    <div class="gene">Clicking on the generate button will generate the .zip files with company names, that includes the individual attendance report in PDF format.</p>
        <a><button class="Generate" ng-click="go()"><span class="note">Generate</span></button></a>
        <a href="#"><img class="image" ng-src="{{image}}" /></a>
        &nbsp
        <div class="Clicking-on-the-gene" ng-bind="Message"></div>
        <a class="link" ui-sref="home.attReport">
            <div class="Previous1"><h6 class="pr1">Previous</h6></div>
            <div><img class="pr" src="images/previous.png"></img></div></a>
    </div>
  </div>
