<!-- <div class="container-fluid"> -->
    <div class="rows" id="reportcard">
        <a ui-sref="home.payslip">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="mainsidebar">
                <div >
                    <div class="header">
                        <div class="align">
                            <h6 class="repheader" style="margin-top: 20%;">Salary Payslip</h6></div>
                    </div>
                </div>
            </div>
          </div>
        </a>
        <a ui-sref="home.attReport">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="mainsidebar">
                <div>
                    <div class="header">
                        <div class="align2">
                            <h6 class="attheader"style="margin-top:40px;">Attendance <br>Report</h3></div>
                     </div>
                </div>
            </div>
          </div>
        </a>
        <a ui-sref="home.invoiceReport">
            <div id="resize" class="col-lg-4 col-md-6 col-xs-12">
              <div class="mainsidebar">
                <div>
                    <div class="header">
                        <h6 class="repheader"style="margin-top: 20%;">Invoice</h3>
                    </div>
                </div>
              </div>
            </div>
        </a>
    </div>
<!-- </div> -->
<div ui-view></div>
