<div  class="salarydata">
    <div class="left">
        <h2>Salary Payslip Report</h2>
        <form name="myform">
          <div class="scroll">
            <div  ng-repeat="empData in employeesalary track by $index">
                <table id="padtable">
                    <tr>
                      <div>
                    <td class="tdata"><input type="checkbox" ng-change="selectedEmp(empData.selected,empData)"  ng-model="employeesalary[$index].selected"></td>
                  </div>
                        <td class="tdata1" align=bottom;>{{empData.employeeName}}</td>
                        <td class="tdata1" align=bottom;>{{empData.employeeStatus}}</td>
                        <td class="tdata1" id="padtd" align=bottom;>{{empData.company}}</td>
                    </tr>
                </table>
            </div>
          </div>
        </form>
          </div>
        <div class="inp"><input type="checkbox" ng-model="all" ng-click="toggleAll()">Select All</input>
        </div>
        <button class="disable" ng-class="{'enable':checkboxValid}" ng-disabled="!checkboxValid" ng-click="disp()">Generate</button>
        <a href="#"><img ng-click="sendId()" class="payslip_image" ng-src="{{image}}" /></a>
        &nbsp
        <div class="Clicking" ng-bind="Message"></div>

</div>
<div ui-view></div>
